extends layout.pug
block style
    title Bifrost
    link(rel='stylesheet' href='/styles/app.css')
    script(defer, src="/socket.io/socket.io.js")
    script(defer, src="/scripts/app.js")   
    script(defer, src="/scripts/iosocket.js") 
    script(src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous")
block content
    div#tooltip
    section.main
        div.bar-area


        div.guild-name 
            p#guildName 
            div#guildSettingsBtn


        div.channel-name
            p#serverChannel.fas.fa-bars
            p#channelName
            p#friends.fas.fa-user-friends


        //- TODO: get data from session
        div.profile-area
            div#currentUser.user(data-user-id = user.user_id)
                div.icon.img-circle
                    img(src=`/api/${apiVersion}/icons/${user.icon_id}`).img
                div.name-container 
                    p.name #{user.name}
                    p.discriminator ##{user.discriminator}


        div.guild-list
            div#guildCollection
                each guild in guildList
                    div.guild(data-guild-id = guild.guild_id, data-guild-name = guild.name)
                        div.img-circle
                            img(src=`/api/${apiVersion}/icons/` + guild.icon_id).img
            div#createGuildBtn.guild
                div +


        div.channel-list
            p#channelListLabel Text Channels:
            div#channelList


        div.chat-area
            div#cumpusSection
                img(src="/images/Cat_Wumpus.svg")
                p There is no channel here. Select a guild on the left.
            div#chatArea

        div.user-list
            each user in userList
                div.user(data-user-id = user.user_id)
                    div.icon.img-circle
                        img(src=`/api/${apiVersion}/icons/` + user.icon_id).img
                    div.name-container 
                        p.name #{user.name}
                        p.discriminator ##{user.discriminator}
        div.message-area
            input#message-input(type="text", name="message" placeholder="Message").input-field
            
