extends layout.pug
block style
    title Bifrost
    link(rel='stylesheet' href='/styles/app.css')
    script(defer, src="/socket.io/socket.io.js")
    //script(defer, src="/Font-Awesome/js/all.js") 
    script(defer, src="/scripts/app.js")   
    script(defer, src="/scripts/iosocket.js")
    script(async, defer, charset="utf-8", src="//cdn.iframe.ly/embed.js?api_key=1a002ddeb5905b00b5f3b9") 
    //script(src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous")
block content
    div#tooltip
    section.main
        div.bar-area


        div.guild-name 
            p#guildName 
            div#guildSettingsBtn


        div.channel-name
            svg#serverChannel.fa-icon(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512")
                //Font Awesome Free 5.15.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
                path(d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z")
            p#channelName
            svg#friends.fa-icon(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512")
              //Font Awesome Free 5.15.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
              path(d="M192 256c61.9 0 112-50.1 112-112S253.9 32 192 32 80 82.1 80 144s50.1 112 112 112zm76.8 32h-8.3c-20.8 10-43.9 16-68.5 16s-47.6-6-68.5-16h-8.3C51.6 288 0 339.6 0 403.2V432c0 26.5 21.5 48 48 48h288c26.5 0 48-21.5 48-48v-28.8c0-63.6-51.6-115.2-115.2-115.2zM480 256c53 0 96-43 96-96s-43-96-96-96-96 43-96 96 43 96 96 96zm48 32h-3.8c-13.9 4.8-28.6 8-44.2 8s-30.3-3.2-44.2-8H432c-20.4 0-39.2 5.9-55.7 15.4 24.4 26.3 39.7 61.2 39.7 99.8v38.4c0 2.2-.5 4.3-.6 6.4H592c26.5 0 48-21.5 48-48 0-61.9-50.1-112-112-112z")


        
        div.profile-area
            div#currentUser.user(data-user-id = user.user_id)
                div.icon.img-circle
                    img(src=`/api/${apiVersion}/icons/${user.icon_id}`).img
                div.name-container 
                    p.name #{user.name}
                    p.discriminator ##{user.discriminator}


        div.guild-list
            div#guildCollection
                each guild in guildList
                    div.guild(data-guild-id = guild.guild_id, data-guild-name = guild.name)
                        div.img-circle
                            img(src=`/api/${apiVersion}/icons/` + guild.icon_id).img
            div#createGuildBtn.guild
                div +


        div.channel-list
            p#channelListLabel Text Channels:
            div#channelList


        div.chat-area
            div#cumpusSection
                img(src="/images/Cat_Wumpus.svg")
                p There is no channel here. Select a guild on the left.
            div#chatArea

        div.user-list#userListContainer
            each user in userList
                div.user(data-user-id = user.user_id)
                    div.icon.img-circle
                        img(src=`/api/${apiVersion}/icons/` + user.icon_id).img
                    div.name-container 
                        p.name #{user.name}
                        p.discriminator ##{user.discriminator}
        div.message-area
            input#message-input(type="text", name="message" placeholder="Message").input-field
            
