extends layout.pug
block style
    title User Settings &ndash; Bifrost
    link(rel='stylesheet' href='/styles/userSettings.css')
    script(defer, src="/scripts/appSettings.js") 
    script(defer, src="/scripts/userSettings.js") 
block content
    input#userIdField(type="hidden" value=currUser.user_id) 
    section.main
        form#updateUserForm(onsubmit="return validateForm()" method="post")
            section.content
                div.form-area
                    div.title
                        h1 User Settings 
                        div.delete.cancel X
                    div.guild-form
                        div.img-container
                            div.img-circle.img-large
                                img#userImage(src=`/api/${apiVersion}/icons/${currUser.icon_id}` alt="User Icon").img
                            div#userImgTooLarge
                            button#removeImageBtn(type="button").link remove
                            p#usernamePreview #{currUser.name}
                            p#discriminatorPreview ##{currUser.discriminator}
                            button#logoutBtn(onclick="logout()" type="button").btn.btn-outline-red.logout Logout 
                        div.input-area
                            div.form-block
                                label.input-label Email
                                input#emailInput(type="text", name="newEmail", placeholder="Email", value=currUser.email, disabled).input-field
                                span#emailErrorMsg.error-message.hidden Invalid email
                            div.form-block
                                label.input-label Username
                                input#usernameInput(type="text", name="newUsername", placeholder="Username", value=currUser.name).input-field
                                span#usernameErrorMsg.error-message.hidden Username is too long 
                            div.form-block
                                label.input-label User Icon
                                label.input-label.file-input.btn.btn-purple Upload Image
                                    input#iconInput(type="file", name="newUserIcon", accept="image/png, image/jpeg, image/jpg, image/svg") 
                                span#iconErrorMsg.error-message.hidden Incorrect file type
                div.button-area
                    button(type="button").btn.btn-outline-red.cancel Cancel
                    button(type="submit").btn.btn-green Save Changes
